.App {
  text-align: center;
  padding: 0.5rem;
}

ul {
  text-align: left;
  padding-left: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

hr {
  margin: 0.25rem 0rem 0rem 0rem;
}

p {
  margin-bottom: 0rem;
}

strong {
  margin-right: 0.03rem;
}

.form-check-input {
  margin-top: 0rem;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-centered-no-gap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bottom-margins {
  margin: 1rem 0rem;
}

.small-right-left-margins {
  margin: 0rem 0.25rem;
}

.flex-left-center-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.card-style {
  display: flex;
  margin: 0.75rem 0.75rem 0.75rem 0rem;
  padding-bottom: 0.5rem;
  background-color: tan;
}

.align-self {
  display: flex;
  align-self: center;
}

.title {
  text-align: center;
  text-decoration: underline;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0rem;
}

.sm-bottom-padding {
  padding-bottom: 0.5rem;
}

.sm-top-padding {
  padding-top: 0.5rem;
}

.card-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 0.75rem;
  background-color: antiquewhite;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: solid black 1px;
  border-radius: 0.5rem;
}

.remove-bottom-margin {
  margin-bottom: 0rem;
}

.form-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 0.5rem;
}

.dropdown-width {
  width: 9rem;
}

.flex-col-center-left-no-gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 0rem;
  margin-bottom: 0rem;
}

.left-margin {
  margin-left: 1rem;
}

.auto-margin-left {
  margin-left: auto;
  margin-right: 0.5rem;
}

.auto-margin-right {
  margin-right: auto;
}

.bottom-margin {
  margin-bottom: 0.5rem;
}

.flex-center-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.flex-center-wrap-no-gap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-left-center-no-gap {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 0rem;
}

.new-simple-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  border-radius: 4rem;
  margin: 0rem 3rem;
  padding: 1rem 3rem;
  width: 30rem;
  background-color: antiquewhite;
}
.group-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  background-color: antiquewhite;
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid black 1px;
  border-radius: 0.5rem;
  width: 30rem;
}

.group-container-no-set-width {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: antiquewhite;
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid black 1px;
  border-radius: 0.5rem;
}

.flex-left-bold {
  display: flex;
  justify-content: left;
  font-weight: bold;
  margin-bottom: 0rem;
  font-size: small;
}

.flex-left-center {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0rem;
}

.small-gap {
  gap: 0.5rem;
}

.xsmall-gap {
  gap: 0.35rem;
}

.xxsmall-gap {
  gap: 0.1rem;
}

.week-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: tan;
  margin: 0.5rem;
  padding: 0.35rem;
  border: solid black 1px;
  border-radius: 0.5rem;
}

.week-day-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  border-radius: 0.5rem;
  font-size: small;
  font-weight: bold;
  padding-top: 0.25rem;
  margin: 0.1rem;
  background-color: antiquewhite;
}

.week-headers {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  font-size: smaller;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.week-row {
  display:grid;
  grid-template-columns: repeat(8, 1fr);
}

.week-day {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  border: solid black 1px;
  border-radius: 0.5rem;
  margin: 0.1rem;
  font-size: small;
  background-color: antiquewhite;
}

.week-day-left-center {
  display: flex;
  justify-content: left;
  align-items: center;
  border: solid black 1px;
  border-radius: 0.5rem;
  margin: 0.1rem;
  font-size: small;
  background-color: antiquewhite;
  padding-left: 0.5rem;
}

.list-items {
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 0.5rem;
  font-size: small;
  background-color: antiquewhite;
  padding-left: 0.5rem;
}

.outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 1px;
  border-radius: 1rem;
  margin: 1rem;
  background-color:rgb(137, 95, 40);
  gap: 0rem;
}

.outline-row {
  display: flex;
  flex-wrap: wrap;
  border: solid black 1px;
  border-radius: 1rem;
  margin: 1rem;
  background-color:rgb(137, 95, 40);
  gap: 0rem;
}

.med-padding {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}

.med-padding-right {
  padding-right: 0.5rem;
}

.small-padding {
  padding: 0.25rem;
}

.xsmall-padding {
  padding: 0.1rem;
}

.remove-bullet-pt {
  list-style-type: none;
}

.small-font {
  font-size: small;
}

.outline-inner {
  display: flex;
  border: solid black 1px;
  border-radius: 0.5rem;
  background-color: antiquewhite;
  margin: 0.25rem;
  padding: 0.5rem;
  align-self: flex-start;
}

.remove-bottom-margin {
  margin-bottom: 0rem;
}

.remove-margins {
  margin: 0rem;
}

.small-top-margin {
  margin-top: 0.25rem;
}

.xsmall-top-bottom-margin {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.new-doc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: antiquewhite;
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid black 1px;
  border-radius: 0.5rem;
}

.flex-left-center-no-gap {
  display: flex;
  justify-content: left;
  align-items: center;
}

.border {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.med-border {
  border: solid black 1px;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.flex-col-center-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 0.5rem;
  margin-bottom: 0rem;
}

.input-width {
  width: 18rem;
}

.week-btn-width {
  width: 10rem;
}

.active {
  background-color: darkseagreen !important;
}

.checkbox-list {
  display: flex;
  flex-wrap: wrap;

}

.hour-grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: repeat(4, 1.25rem);
  grid-template-areas:
    "zero zero"
    "fifteen fifteen"
    "thirty thirty"
    "fourty-five fourty-five";
  border: 1px solid black;
  padding: 0.35rem;
  border-radius: 0.5rem;
  border-collapse: collapse;
  gap: 3px;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  background-color: tan;
}

.collapsed-hour-grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows:  1.25rem;
  border: 1px solid black;
  padding: 0.35rem;
  border-radius: 0.5rem;
  border-collapse: collapse;
  gap: 3px;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  background-color: tan;
}

.day-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(24, 1fr);
}

.cell-border {
  font-size: smaller;
  border: 0.5px solid lightgray;
  padding: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 0.5rem;
  border-collapse: collapse;
}

.flex-left {
  display: flex;
  justify-content: left;
  background-color: antiquewhite;
}

.flex-right {
  display: flex;
  justify-content: right;
  background-color: antiquewhite;
}

.offset-btn-group {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

