.App {
  text-align: center;
}

ul {
  padding-left: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

hr {
  margin: 0;
}

p {
  margin-bottom: 0rem;
}

.group-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  background-color: antiquewhite;
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid black 1px;
  border-radius: 0.5rem;
  width: 30rem;
}

.new-doc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: antiquewhite;
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid black 1px;
  border-radius: 0.5rem;
}

.flex-center-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.flex-left-center-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.flex-left-center-no-gap {
  display: flex;
  justify-content: left;
  align-items: center;
}

.title {
  text-decoration: underline;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0rem;
}

.border {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.list-items {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

.flex-left-center {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0rem;
}

.flex-left-center-no-gap {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 0rem;
}

.flex-col-center-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 0.5rem;
  margin-bottom: 0rem;
}

.flex-left-bold {
  display: flex;
  justify-content: left;
  font-weight: bold;
  margin-bottom: 0rem;
}

.input-width {
  width: 18rem;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dropdown-width {
  width: 9rem;
}

.active {
  background-color: darkseagreen !important;
}

.form-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 0.5rem;
}

.checkbox-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  gap: 1rem;
}